<% @title="User Profile" %>

<div class="info extra-bottom">

  <h3>Welcome to GreekGoesGreen CoreyCole!</h3>

  <p><strong>Email:</strong> coreycole@gmail.com</p>
  <p><strong>Username:</strong> CoreyCole</p>
  <p><strong>House:</strong> </p>

</div>
  
