<% @title="Results" %>

<div class="info">
<h1>Results</h1>
<p>Scores are calculated on the basis of attempted and correct answers.  You recieve 5 points for every attempted answer and another 5 for every correct answer!</p>
<p>You attempted all five problems and got 4 right for a score of 45 points!!</p>

<h4>What electronic device(s) consume(s) the most power when in standby mode?</h4>
<p>You Selected: DVR and digital cable box</p>
<p>Correct Answer: DVR and digital cable box.  The Lawrence Berkeley National Laboratory found that, on average, a digital cable box with a DVR consumes about 43 watts per hour when turned off but still plugged in.</p>
<h4>Each lightbulb you replace with a compact flourescent (CFL) bulb will save you how much money in energy over its lifetime?</h4>
<p>You Selected: $5</p>
<p>Correct Answer: $5. CFLs last longer and can save 75 percent more energy than incandescent bulbs.  Look for CFLs rated by Energy Star, which tests efficiency.</p>
<h4>True of False: Caulking your windows and doors is the easiest way to save energy.</h4>
<p>You Selected: True</p>
<p>Correct Answer: True.  The U.S. Department of Energy says 43 percent of household energy use goes to heating and cooling.  Weatherproofing your home prevents air leaks and energy waste.</p>
<h4>How much energy could a tankless water heater save?</h4>
<p>You Selected: 30 percent</p>
<p>Correct Answer: 30 percent.  Tankless water heaters waste less energy because they heat water as it's being used, instead of keeping a whole tank hot.  The U.S. Department of Energy says the average household spends 12 percent of its energy bill running a water heater.</p>
<h4>True or False: Most of the energy consumed by dishwashers and washing machines is for moving parts.</h4>
<p>You Selected: False</p>
<p>Correct Answer: False.  Most of the energy consumed by dishwashers and washing machines goes to heating water. Washing dishes and clothes in cold water can help save energy.</p>

<%= button_to "Share on Facebook", quiz_show_path, :class => "button", method: :get %>

</div>