<% @title="GreenLinks" %>

<div class="info">

  <h2>Find Out How to Be Green</h2>

  <h3><%= link_to "Ten Tips for Going Green", "http://www.worldwatch.org/resources/go_green_save_green/" %></h3>

  <h2>Learn About the Effects of Climate Change</h2>

  <h3><%= link_to "See Maps of Climate Predictions", "http://www.climatewizard.org/" %></h3>
  <h3><%= link_to "Donate to Conserve Nature Here", "http://www.nature.org" %></h3><br />

<div>
