<% @title="Profiles" %>

<div class="info">

<h1>Phi Kappa Sigma</h1>

<p>Total Green Points: 45</p>
<p>House Rank: 1 out of 32</p>
<p>Water Usage: 1900 cubic feet per month</p>
<p>Water Usage Rank: 1 out of 32</p>
<p>Electrical Usage: 120 kilowatt-hours per day</p>
<p>Electrical Usage Rank: 1 out of 32</p>
<p>Live-in Members: 65</p>

<!-- <img src="c:\Users\Chloe\Desktop\DEV Stuff\GreekGoesGreen/images/rss.jpg" alt="rss feed" />
<%= image_tag("rss.jpg", :alt => "rss feed") %> -->

</div>
